@import url('https://fonts.googleapis.com/css?family=Joti+One');

$light-purple: #6369D1;
$ice-blue: #60E1E0;
$grayish: #D8D2E1;
$light-brown: #B88E8D;
$dark-navy: #34435E;

$font-default: 'Joti One', cursive;
