$light-purple: #6369D1;
$ice-blue: #60E1E0;
$grayish: #D8D2E1;
$light-brown: #B88E8D;
$dark-navy: #34435E;

$movie-border: $grayish 3px dotted;

.movie-index {
  h1 {
    color: $light-brown;
  }

  h2 {
    border: $movie-border;
  }

  p {

    color: $dark-navy;
    border: $movie-border;
    text: {
      align: center;
      decoration: underline;
    }
    font: {
      family: papyrus;
      size: 15px;
      ilana: 8px;
    }
  }
}
